{% extends 'base.html' %}

{% block content %}
{% load static %}

<!--ROW 1: CAROUSEL-->

    <div class="col-sm-12">
        <!--CAROUSEL-->
        <div class="container-fluid">
            <div id="carouselId" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselId" data-slide-to="1"></li>
                    <li data-target="#carouselId" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% for imagen in imagenes %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img class="img-fluid" src="{% static imagen.archivo %}"
                            data-src="holder.js/900x500/auto/#666:#444/text:Second slide" alt="Second slide">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!--ROW 1 END-->

    <!--GRILLA IMAGENES-->
    <div class="container-fluid" style="padding-left: 3em; padding-right: 3em;">
        <div class="row">
            {% for imagen in imagenes %}
            <div class="col-md-4" style="margin-top: 1cm; margin-bottom: 15px;">
                <img class="img-fluid rounded" style="border-style: ridge;" src="{% static imagen.archivo %}"
                    alt="{{ imagen.nombre }}">
                <div class="card text-left">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ imagen.nombre }}</h4>
                        <p class="card-text">{{ imagen.fechaRegistro }}</p>
                        <p class="card-text">{{ imagen.texto }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--FIN GRILLA -->

{% endblock %}