{% extends 'base.html' %}

{% block content %}
{% load static %}

<p>FOTOS QUE FUNCIONAN COMO FILTRO DE CATEGORIA!!</p>

        <!--ROW 1: TURBO KITS-->
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-white bg-dark">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">TURBO KITS</h4>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio sit
                            eveniet consequuntur rem officiis voluptates ratione laborum, provident minus culpa
                            necessitatibus facere beatae harum repudiandae nisi cumque molestias doloribus adipisci?</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="container">
                    <img class="img-fluid" src="assets/images/productos/TURBO1.png" alt="TURBO1">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="container">
                    <img class="img-fluid" src="assets/images/productos/TURBO2.jpg" alt="TURBO1">
                </div>
            </div>
        </div>


{% endblock %}