{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>TALLER YUYITOS: LOGIN</title>
</head>

<body id="mybod" style="background-color: black;">

    <!--CONTAINER DE LA PÁGINA-->
    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px">

        <!--NAVBAR-->
        <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: #181818;">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-4">
                        <a id="item_menu" class="nav-link" href="index.html">INICIO</a>
                    </li>
                    <!--"INVENTARIO"-->
                    <li class="nav-item dropdown ml-4">
                        <a id="item_menu" class="nav-link dropdown-toggle" href="#" id="dropdownId"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">INVENTARIO</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId" style="background-color: #181818;">
                            <a id="item_menu" class="dropdown-item" href="inventario.html">PERSONALIZACIÓN</a>
                            <a id="item_menu" class="dropdown-item" href="inventario.html">PERFORMANCE</a>
                            <a id="item_menu" class="dropdown-item" href="inventario.html">MANTENIMIENTO</a>
                            <a id="item_menu" class="dropdown-item" href="inventario.html">ACCESORIOS</a>
                        </div>
                    </li>
                    <!--"MODIFICACIONES"-->
                    <li class="nav-item dropdown ml-4">
                        <a id="item_menu" class="nav-link dropdown-toggle" href="#" id="dropdownId"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SERVICIOS</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId" style="background-color: #181818;">
                            <a id="item_menu" class="dropdown-item" href="servicios.html">INSTALACIONES</a>
                            <a id="item_menu" class="dropdown-item" href="servicios.html">CONVERSIONES</a>
                            <a id="item_menu" class="dropdown-item" href="servicios.html">RESTAURACIONES</a>
                            <a id="item_menu" class="dropdown-item" href="servicios.html">MANTENIMIENTO</a>
                        </div>
                    </li>
                    <!--"MECANICOS"-->
                    <li class="nav-item dropdown ml-4">
                        <a id="item_menu" class="nav-link dropdown-toggle" href="#" id="dropdownId"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MECANICOS</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId" style="background-color: #181818;">
                            <a id="item_menu" class="dropdown-item" href="mecanico1.html">Pablo Centella</a>
                            <a id="item_menu" class="dropdown-item" href="mecanico2.html">Cristiano Ronaldo</a>
                            <a id="item_menu" class="dropdown-item" href="mecanico3.html">Alain D'apremont</a>
                            <a id="item_menu" class="dropdown-item" href="mecanico4.html">Felipe Ipinza</a>
                            <a id="item_menu" class="dropdown-item" href="mecanico5.html">Elon Musk</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--LOGO-->
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="index.html">
                    <img src="{% static 'logo.jpg' %}" alt="LOGO">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!--OTRA NAVEGACIÓN-->
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4">
                        <a id="item_menu" class="nav-link" href="taller.html">TALLER</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a id="item_menu" class="nav-link" href="galeria.html">GALERÍA</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a id="item_menu" class="nav-link" href="registro.html">REGISTRARSE</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a id="item_menu" class="nav-link" href="login.html">LOGIN</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--LOGIN PENCA-->
        <div class="row" style="margin-top: 1cm;">
            <div class="col-sm-2">

            </div>

            <div class="col-sm-8">
                <div class="card text-white bg-transparent" style="border-width: 0;">
                    <div class="card-body">
                        <div class="login">
                            <br>
                            <div class="login-form">
                                <h3 id="modern_text">Correo Electrónico:</h3>
                                <input type="text" placeholder="Correo" /><br>
                                <br>
                                <h3 id="modern_text">Contraseña:</h3>
                                <input type="password" placeholder="Contraseña" />
                                <br>
                                <input type="button" value="INGRESAR" class="login-button" style="margin-top: 2em;" />
                                <br><br>
                                <a class="sign-up">¿No tienes una cuenta?</a>
                                <br><br>
                                <a class="no-access">¿Problemas para entrar?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">

            </div>
        </div>

        <!--ROW 1-->
        <div class="row" style="margin-top: 1em">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10">
                <!--CERTIFICADO USUARIO-->
                <div class="card text-center bg-dark"
                    style="border-radius: 20px; border-style: double; border-color: gray;">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h1 id="titulo-certi" class="card-title">Certificado Miembro Yuyitos-Club</h1>
                        <h2 id="texto-certi" class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt delectus quo sapiente
                            suscipit molestiae architecto vitae enim eligendi repellendus culpa. Aliquid exercitationem
                            cupiditate temporibus neque est architecto accusamus corporis minima?
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste necessitatibus, non labore
                            quas excepturi cumque deleniti sequi quis ad libero possimus eveniet? Nesciunt eveniet dicta
                            atque recusandae distinctio commodi debitis?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio incidunt labore laborum iste,
                            provident tempore quisquam earum. Similique, accusamus neque ad, minus maxime laboriosam
                            quis quia veritatis nobis, ducimus dolorem.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">

            </div>
            <!--ROW 1-->
        </div>

        <!--FOOTER-->
        <nav class="navbar navbar-expand navbar-dark" style="background-color: #181818">
            <div class="nav navbar-nav">
                <section class="section pb-5">

                    <!--Seccion Contacto-->
                    <h2 class="section-heading h1 pt-4" id="formularioContacto">Tienes alguna consulta?</h2>
                    <!--Seccion descripcion-->
                    <p class="section-description pb-4" id="formularioContacto">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Fugit, error
                        amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum
                        porro a
                        pariatur accusamus veniam.</p>

                    <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-5 mb-4">

                            <!--Form with header-->
                            <div class="card">

                                <div class="card-body">
                                    <!--Cabecera formulario -->
                                    <div class="form-header blue accent-1">
                                        <h3><i class="fas fa-envelope"></i> Contactanos:</h3>
                                    </div>

                                    <p>Escribe tu consulta , Te responderemos a la brevedad.</p>
                                    <br>

                                    <!--Cuerpo Formulario Contacto-->
                                    <div class="md-form">
                                        <i class="fas fa-user prefix grey-text"></i>
                                        <label for="form-name">Nombre y Apellido</label>
                                        <input type="text" id="form-name" class="form-control">

                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-envelope prefix grey-text"></i>
                                        <label for="form-email">Correo Electronico</label>
                                        <input type="text" id="form-email" class="form-control">

                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-tag prefix grey-text"></i>
                                        <label for="form-Subject">Asunto</label>
                                        <input type="text" id="form-Subject" class="form-control">

                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-pencil-alt prefix grey-text"></i>
                                        <label for="form-text">Mensaje</label>
                                        <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>

                                    </div>

                                    <div class="text-center mt-4">
                                        <button class="btn btn-light-blue">Enviar</button>
                                    </div>

                                </div>

                            </div>
                            <!--Form with header-->

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-7">

                            <!--Google map-->
                            <div id="map-container-google-11" class="z-depth-1-half map-container-6"
                                style="height: 400px">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.056269620377!2d-70.61866114979324!3d-33.499913107343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d00be4a5fa81%3A0xcd8eaf5b1d547f64!2sDuoc%20UC%3A%20Sede%20San%20Joaqu%C3%ADn!5e0!3m2!1ses-419!2scl!4v1600702474884!5m2!1ses-419!2scl"
                                    width="600" height="400" frameborder="0" style="border:0;" allowfullscreen=""
                                    aria-hidden="false" tabindex="0"></iframe>
                            </div>

                            <br>
                            <!--Botones Direccion , Telefono y Correo-->
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
                                    <p id="formularioContacto">Vicuña Mackenna 4917, San Joaquin</p>
                                    <p id="formularioContacto">Chile</p>
                                </div>

                                <div class="col-md-4">
                                    <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
                                    <p id="formularioContacto">+ 569 95895202</p>
                                    <p id="formularioContacto">Lunes - Viernes, 8:00-22:00</p>
                                </div>

                                <div class="col-md-4">
                                    <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
                                    <p id="formularioContacto">info@gmail.com</p>
                                    <p id="formularioContacto">sale@gmail.com</p>
                                </div>
                            </div>

                        </div>
                        <!--Grid column-->

                    </div>

                </section>
                <p>Copyright YTM Most rights reserved, 2019 - 2020</p>
            </div>
        </nav>
        <!--ATTRIBUTION-->
        <nav class="navbar navbar-expand navbar-dark" style="background-color: #181818">
            <div class="nav navbar-nav">
                <a href="https://www.vecteezy.com/free-vector/gray">Gray Vectors by Vecteezy</a>
            </div>
        </nav>
        <!--FIN CONTAINER PAGINA-->
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>