{% extends 'base.html' %}

{% block content %}
{% load static %}

<!--ROW 2: BANNER-->
<div class="container-fluid">
    <br>
    <br>
    <div class="container">
        <p id="modern_text_title" style="text-align: center;">
            <img src="{% static '/logo_taller.png' %}" alt="logo_taller" style="opacity: 90%;">
        </p>
        <hr color="#ffd66b">
    </div>
    <div class="container-fluid" style="margin-top: 2em;">
        <div class="row">
            <div class="col-sm-3"></div>
            <!--CONTENEDOR PARA LA IMAGEN CON TEXTO ENCIMA-->
            <div class="contenedor">
                <!--REGLAS PARA QUE LA IMAGEN TENGA UN EVENTO ON HOVER-->
                <a class="thumbnail" href="/mecanico1/">
                    <img class="img-fluid" src="{% static '/mecanicos/perfil/1.jpg' %}" alt="mecanico1">
                    <!--REGLAS DE POSICION PARA EL TEXTO SOBRE LA IMAGEN-->
                    <div class="texto_encima_centrado">
                        <!--REGLAS (PARA QUE QUEDE HIDDEN)-->
                        <br><br><br><br><br>
                        <p class="texto_mecanicos">Pablo Centella</p>
                        <br><br><br><br>
                        <p class="texto_mecanicos" style="font-size: large;">Especialista en Modificaciones</p>
                    </div>
                </a>
            </div>

            <!--CONTENEDOR PARA LA IMAGEN CON TEXTO ENCIMA-->
            <div class="contenedor">
                <!--REGLAS PARA QUE LA IMAGEN TENGA UN EVENTO ON HOVER-->
                <a class="thumbnail" href="/mecanico2/">
                    <img class="img-fluid" src="{% static '/mecanicos/perfil/2.jpg' %}" alt="mecanico2">
                    <!--REGLAS DE POSICION PARA EL TEXTO SOBRE LA IMAGEN-->
                    <div class="texto_encima_centrado">
                        <!--REGLAS (PARA QUE QUEDE HIDDEN)-->
                        <br><br><br><br><br>
                        <p class="texto_mecanicos">Cristiano Ronaldo</p>
                        <br><br><br><br>
                        <p class="texto_mecanicos" style="font-size: large;">Especialista en Instalaciones</p>
                    </div>
                </a>
            </div>

            <!--CONTENEDOR PARA LA IMAGEN CON TEXTO ENCIMA-->
            <div class="contenedor">
                <!--REGLAS PARA QUE LA IMAGEN TENGA UN EVENTO ON HOVER-->
                <a class="thumbnail" href="/mecanico3/">
                    <img class="img-fluid" src="{% static '/mecanicos/perfil/3.jpg' %}" alt="mecanico3">
                    <!--REGLAS DE POSICION PARA EL TEXTO SOBRE LA IMAGEN-->
                    <div class="texto_encima_centrado">
                        <!--REGLAS (PARA QUE QUEDE HIDDEN)-->
                        <br><br><br><br><br>
                        <p class="texto_mecanicos">Alain D'apremont</p>
                        <br><br><br><br>
                        <p class="texto_mecanicos" style="font-size: large;">Especialista en Transmisión</p>
                    </div>
                </a>
            </div>

            <!--CONTENEDOR PARA LA IMAGEN CON TEXTO ENCIMA-->
            <div class="contenedor">
                <!--REGLAS PARA QUE LA IMAGEN TENGA UN EVENTO ON HOVER-->
                <a class="thumbnail" href="/mecanico4/">
                    <img class="img-fluid" src="{% static '/mecanicos/perfil/4.jpg' %}" alt="mecanico4">
                    <!--REGLAS DE POSICION PARA EL TEXTO SOBRE LA IMAGEN-->
                    <div class="texto_encima_centrado">
                        <!--REGLAS (PARA QUE QUEDE HIDDEN)-->
                        <br><br><br><br><br>
                        <p class="texto_mecanicos">Felipe Ipinza</p>
                        <br><br><br><br>
                        <p class="texto_mecanicos" style="font-size: large;">Especialista en Motores</p>
                    </div>
                </a>
            </div>

            <!--CONTENEDOR PARA LA IMAGEN CON TEXTO ENCIMA-->
            <div class="contenedor">
                <!--REGLAS PARA QUE LA IMAGEN TENGA UN EVENTO ON HOVER-->
                <a class="thumbnail" href="/mecanico5/">
                    <img class="img-fluid" src="{% static '/mecanicos/perfil/5.jpg' %}" alt="mecanico5">
                    <!--REGLAS DE POSICION PARA EL TEXTO SOBRE LA IMAGEN-->
                    <div class="texto_encima_centrado">
                        <!--REGLAS (PARA QUE QUEDE HIDDEN)-->
                        <br><br><br><br><br>
                        <p class="texto_mecanicos">Elon Musk</p>
                        <br><br><br><br>
                        <p class="texto_mecanicos" style="font-size: large;">Especialista en Pintura</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-3"></div>
        </div>

    </div>
    <div class="container">
        <hr color="#ffd66b">
    </div>
</div>
<!--ROW 2 END-->



<!--ROW3: END-->

{% endblock %}